doctype html
html
    include _includes/_head.jade
    body.starterkit
        include _includes/_header.jade
        include _includes/_content.jade
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="js/script.js")

