doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='UTF-8')
    title
      | Respmail is a response HTML email designed to work on all major email platforms and smartphones
    style(type='text/css').
      /* RESET STYLES */
      /* latin */
        @font-face {
          font-family: 'Pacifico';
          font-style: normal;
          font-weight: 400;
          src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
        }
      html { background-color:#f2f2f2; margin:0; padding:0; }
      body, #bodyTable, #bodyCell, #bodyCell{height:100% !important; margin:0; padding:0; width:100% !important;font-family: 'Open Sans', Helvetica;}
      table{border-collapse:collapse;}
      table[id=bodyTable] {width:100%!important;margin:auto;max-width:500px!important;color:#7A7A7A;font-weight:normal;}
      img, a img{border:0; outline:none; text-decoration:none;height:auto; line-height:100%;}
      a {text-decoration:none !important;border-bottom: 1px solid;}
      h1, h2, h3, h4, h5, h6{color:#5F5F5F; font-weight:normal; font-family:Helvetica; font-size:20px; line-height:125%; text-align:Left; letter-spacing:normal;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;}
      /* CLIENT-SPECIFIC STYLES */
      .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail/Outlook.com to display emails at full width. */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{line-height:100%;} /* Force Hotmail/Outlook.com to display line heights normally. */
      table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up. */
      #outlook a{padding:0;} /* Force Outlook 2007 and up to provide a "view in browser" message. */
      img{-ms-interpolation-mode: bicubic;display:block;outline:none; text-decoration:none;} /* Force IE to smoothly render resized images. */
      body, table, td, p, a, li, blockquote{-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; font-weight:normal!important;} /* Prevent Windows- and Webkit-based mobile platforms from changing declared text sizes. */
      .ExternalClass td[class="ecxflexibleContainerBox"] h3 {padding-top: 10px !important;} /* Force hotmail to push 2-grid sub headers down */
      /* /\/\/\/\/\/\/\/\/ TEMPLATE STYLES /\/\/\/\/\/\/\/\/ */
      /* ========== Page Styles ========== */
      h1{display:block;font-size:26px;font-style:normal;font-weight:normal;line-height:100%;}
      h2{display:block;font-size:20px;font-style:normal;font-weight:normal;line-height:120%;}
      h3{display:block;font-size:17px;font-style:normal;font-weight:normal;line-height:110%;}
      h4{display:block;font-size:18px;font-style:italic;font-weight:normal;line-height:100%;}
      .flexibleImage{height:auto;}
      .linkRemoveBorder{border-bottom:0 !important;}
      table[class=flexibleContainerCellDivider] {padding-bottom:0 !important;padding-top:0 !important;}
      body, #bodyTable{background-color:#E1E1E1;}
      #emailHeader{background-color:#E1E1E1;}
      #emailBody{background-color:#FFFFFF;}
      #emailFooter{background-color:#E1E1E1;}
      .nestedContainer{background-color:#F8F8F8; border:1px solid #CCCCCC;}
      .emailButton{background-color:#205478; border-collapse:separate;}
      .buttonContent{color:#FFFFFF; font-family:Helvetica; font-size:18px; font-weight:bold; line-height:100%; padding:15px; text-align:center;}
      .buttonContent a{color:#FFFFFF; display:block; text-decoration:none!important; border:0!important;}
      .emailCalendar{background-color:#FFFFFF; border:1px solid #CCCCCC;}
      .emailCalendarMonth{background-color:#205478; color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; padding-top:10px; padding-bottom:10px; text-align:center;}
      .emailCalendarDay{color:#205478; font-family:Helvetica, Arial, sans-serif; font-size:60px; font-weight:bold; line-height:100%; padding-top:20px; padding-bottom:20px; text-align:center;}
      .imageContentText {margin-top: 10px;line-height:0;}
      .imageContentText a {line-height:0;}
      #invisibleIntroduction {display:none !important;} /* Removing the introduction text from the view */
      /*FRAMEWORK HACKS & OVERRIDES */
      span[class=ios-color-hack] a {color:#275100!important;text-decoration:none!important;} /* Remove all link colors in IOS (below are duplicates based on the color preference) */
      span[class=ios-color-hack2] a {color:#205478!important;text-decoration:none!important;}
      span[class=ios-color-hack3] a {color:#8B8B8B!important;text-decoration:none!important;}
      /* A nice and clean way to target phone numbers you want clickable and avoid a mobile phone from linking other numbers that look like, but are not phone numbers.  Use these two blocks of code to "unstyle" any numbers that may be linked.  The second block gives you a class to apply with a span tag to the numbers you would like linked and styled.
      Inspired by Campaign Monitor's article on using phone numbers in email: http://www.campaignmonitor.com/blog/post/3571/using-phone-numbers-in-html-email/.
      */
      .a[href^="tel"], a[href^="sms"] {text-decoration:none!important;color:#606060!important;pointer-events:none!important;cursor:default!important;}
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration:none!important;color:#606060!important;pointer-events:auto!important;cursor:default!important;}
      /* MOBILE STYLES */
      @media only screen and (max-width: 480px){
      /*////// CLIENT-SPECIFIC STYLES //////*/
      body{width:100% !important; min-width:100% !important;} /* Force iOS Mail to render the email at full width. */
      /* FRAMEWORK STYLES */
      /*
      CSS selectors are written in attribute
      selector format to prevent Yahoo Mail
      from rendering media query styles on
      desktop.
      */
      /*td[class="textContent"], td[class="flexibleContainerCell"] { width: 100%; padding-left: 10px !important; padding-right: 10px !important; }*/
      table[id="emailHeader"],
      table[id="emailBody"],
      table[id="emailFooter"],
      table[class="flexibleContainer"],
      td[class="flexibleContainerCell"] {width:100% !important;}
      td[class="flexibleContainerBox"], td[class="flexibleContainerBox"] table {display: block;width: 100%;text-align: left;}
      /*
      The following style rule makes any
      image classed with 'flexibleImage'
      fluid when the query activates.
      Make sure you add an inline max-width
      to those images to prevent them
      from blowing out.
      */
      td[class="imageContent"] img {height:auto !important; width:100% !important; max-width:100% !important; }
      img[class="flexibleImage"]{height:auto !important; width:100% !important;max-width:100% !important;}
      img[class="flexibleImageSmall"]{height:auto !important; width:auto !important;}
      /*
      Create top space for every second element in a block
      */
      table[class="flexibleContainerBoxNext"]{padding-top: 10px !important;}
      /*
      Make buttons in the email span the
      full width of their container, allowing
      for left- or right-handed ease of use.
      */
      table[class="emailButton"]{width:100% !important;}
      td[class="buttonContent"]{padding:0 !important;}
      td[class="buttonContent"] a{padding:15px !important;}
      }
      /*  CONDITIONS FOR ANDROID DEVICES ONLY
      *   http://developer.android.com/guide/webapps/targeting.html
      *   http://pugetworks.com/2011/04/css-media-queries-for-targeting-different-mobile-devices/ ;
      =====================================================*/
      @media only screen and (-webkit-device-pixel-ratio:.75){
      /* Put CSS for low density (ldpi) Android layouts in here */
      }
      @media only screen and (-webkit-device-pixel-ratio:1){
      /* Put CSS for medium density (mdpi) Android layouts in here */
      }
      @media only screen and (-webkit-device-pixel-ratio:1.5){
      /* Put CSS for high density (hdpi) Android layouts in here */
      }
      /* end Android targeting */
      /* CONDITIONS FOR IOS DEVICES ONLY
      =====================================================*/
      @media only screen and (min-device-width : 320px) and (max-device-width:568px) {
      }
      /* end IOS targeting */
  body(bgcolor='#f2f2f2', leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0')
    center(style='background-color:#f2f2f2;')
      table#bodyTable(border='0', cellpadding='0', cellspacing='0', height='100%', width='100%', style='table-layout: fixed;max-width:100% !important;width: 100% !important;min-width: 100% !important;')
        tr
          td#bodyCell(align='center', valign='top')
            table#emailBody(bgcolor='#FFFFFF', border='0', cellpadding='0', cellspacing='0', width='600')
              tr
                td(align='center', valign='top')
                  table(border='0', cellpadding='0', cellspacing='0', width='100%', style='color:#FFFFFF;', bgcolor='#182e40')
                    tr
                      td(align='center', valign='top')
                        table.flexibleContainer(border='0', cellpadding='0', cellspacing='0', width='600')
                          tr
                            td.flexibleContainerCell(align='center', valign='top', width='600')
                              table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                tr
                                  td.textContent(align='center', valign='top')
                                    img(src='http://www.pleisi.com/images/logo.svg')
              tr
                td(align='center', valign='top')
                  // CENTERING TABLE //
                  table(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td(align='center', valign='top')
                        // FLEXIBLE CONTAINER //
                        table.flexibleContainer(border='0', cellpadding='0', cellspacing='0', width='600')
                          tr
                            td.flexibleContainerCell(align='center', valign='top', width='600')
                              table(border='0', cellpadding='30', cellspacing='0', width='100%')
                                tr
                                  td(align='center', valign='top')
                                    // CONTENT TABLE //
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                      tr
                                        td.textContent(valign='top')
                                          h1(mc:edit='header', style='color:#00b2bb;line-height:100%;font-family:Pacifico,Arial,sans-serif;font-size:35px;font-weight:normal;margin-bottom:5px;text-align:center;') Mira lo nuevo que trae Pleisi
                                    // // CONTENT TABLE
                        // // FLEXIBLE CONTAINER
                  // // CENTERING TABLE
              tr
                td(align='center', valign='top')
                  // CENTERING TABLE //
                  table(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td(align='center', valign='top')
                        // FLEXIBLE CONTAINER //
                        table.flexibleContainer(border='0', cellpadding='30', cellspacing='0', width='600')
                          tr
                            td.flexibleContainerCell(valign='top', width='600')
                              // CONTENT TABLE //
                              table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%')
                                tr
                                  td.flexibleContainerBox(align='left', valign='top')
                                    table(border='0', cellpadding='0', cellspacing='0', width='260', style='max-width:100%;')
                                      tr
                                        td.textContent(align='left')
                                          a(href='http://www.pleisi.com/cursos/maquillaje-para-el-dia')
                                            img.flexibleImage(src='http://pleisi.com.s3.amazonaws.com/classes/Prev_Site__maquillaje.jpg', width='260', style='max-width:100%;', alt='Maquillaje para día', title='Maquillaje para día')
                                          h3(style='color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:10px;margin-bottom:3px;text-align:left;') Maquillaje para día
                                          div(style='text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;')
                                            | Catalina Herrera
                                            br
                                            span(style='text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:12px;margin-bottom:0;color:#5F5F5F;line-height:135%;') 1536 estudiantes
                                  td.flexibleContainerBox(align='right', valign='middle')
                                    table.flexibleContainerBoxNext(border='0', cellpadding='0', cellspacing='0', width='260', style='max-width:100%;')
                                      tr
                                        td.textContent(align='left')
                                          a(href='http://www.pleisi.com/cursos/basico-maquina-de-coser')
                                            img.flexibleImage(src='http://pleisi.com.s3.amazonaws.com/classes/Prev-Site_maquina-de-coser_1.jpg', width='260', style='max-width:100%;', alt='Manejo básico de maquina de coser', title='Manejo básico de maquina de coser')
                                          h3(style='color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:10px;margin-bottom:3px;text-align:left;') Manejo básico de maquina de coser
                                          div(style='text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;')
                                            | Teresa Restrepo Sánchez
                                            br
                                            span(style='text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:12px;margin-bottom:0;color:#5F5F5F;line-height:135%;') 38 estudiantes
                              // // CONTENT TABLE
                        // // FLEXIBLE CONTAINER
                  // // CENTERING TABLE
              // // MODULE ROW
              tr
                td(align='center', valign='top')
                  // CENTERING TABLE //
                  table(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td(align='center', valign='top')
                        // FLEXIBLE CONTAINER //
                        table.flexibleContainer(border='0', cellpadding='30', cellspacing='0', width='600')
                          tr
                            td.flexibleContainerCell(valign='top', width='600')
                              // CONTENT TABLE //
                              table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%')
                                tr
                                  td.flexibleContainerBox(align='left', valign='top')
                                    table(border='0', cellpadding='0', cellspacing='0', width='260', style='max-width:100%;')
                                      tr
                                        td.textContent(align='left')
                                          a(href='http://www.pleisi.com/cursos/cupcakes-rellenos-y-cubiertos')
                                            img.flexibleImage(src='http://pleisi.com.s3.amazonaws.com/classes/prev_site_4.jpg', width='260', style='max-width:100%;', alt='Cupcakes rellenos y cubiertos', title='Cupcakes rellenos y cubiertos')
                                          h3(style='color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:10px;margin-bottom:3px;text-align:left;') Cupcakes rellenos y cubiertos
                                          div(style='text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;')
                                            | Diana Barreneche
                                            br
                                            span(style='text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:12px;margin-bottom:0;color:#5F5F5F;line-height:135%;') 2378 estudiantes
                                  td.flexibleContainerBox(align='right', valign='middle')
                                    table.flexibleContainerBoxNext(border='0', cellpadding='0', cellspacing='0', width='260', style='max-width:100%;')
                                      tr
                                        td.textContent(align='left')
                                          a(href='http://www.pleisi.com/cursos/gallettas-decoradas')
                                            img.flexibleImage(src='http://pleisi.com.s3.amazonaws.com/classes/Prev_Site_Galletas_Decoradas.jpg', width='260', style='max-width:100%;', alt='Técnica de decoración de galletas', title='Técnica de decoración de galletas')
                                          h3(style='color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:10px;margin-bottom:3px;text-align:left;') Técnica de decoración de galletas
                                          div(style='text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;')
                                            | Isabela Gaviria
                                            br
                                            span(style='text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:12px;margin-bottom:0;color:#5F5F5F;line-height:135%;') 7 estudiantes
                              // // CONTENT TABLE
                        // // FLEXIBLE CONTAINER
                  // // CENTERING TABLE
              // // MODULE ROW
              tr
                td(align='center', valign='top')
                  // CENTERING TABLE //
                  table(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr(style='padding-top:0;')
                      td(align='center', valign='top')
                        // FLEXIBLE CONTAINER //
                        table.flexibleContainer(border='0', cellpadding='30', cellspacing='0', width='600')
                          tr
                            td(align='center', valign='top')
                              // CONTENT TABLE //
                              table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                tr
                                  td.textContent(valign='top')
                                    h1(mc:edit='header', style='color:#00b2bb;line-height:100%;font-family:Pacifico,Arial,sans-serif;font-size:35px;font-weight:normal;margin-bottom:5px;text-align:center;') Prueba la membresia de regalo
                          tr
                            td.flexibleContainerCell(style='padding-top:0;', align='center', valign='top', width='600')
                              // CONTENT TABLE //
                              table.emailButton(border='0', cellpadding='0', cellspacing='0', width='50%', style='background-color: #f15a24;')
                                tr
                                  td.buttonContent(align='center', valign='middle', style='padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;')
                                    a(style='color:#FFFFFF;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%;', href='http://www.pleisi.com/suscripciones', target='_blank') 7 días gratis
              tr
                td(align='center', valign='top')
                  // CENTERING TABLE //
                  table(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td(align='center', valign='top')
                        // FLEXIBLE CONTAINER //
                        table.flexibleContainer(border='0', cellpadding='0', cellspacing='0', width='600')
                          tr
                            td.flexibleContainerCell(valign='top', width='600')
                              // CONTENT TABLE //
                              table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%')
                                tr
                                  td.flexibleContainerBox(align='left', valign='bottom', style='width:100%')
                                    table(border='0', cellpadding='10', cellspacing='0', width='100%', style='max-width:100%;')
                                      tr
                                        td.textContent(align='center')
                                          h3(style='color:#041237;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;margin-top:0;margin-bottom:3px;text-align:center;') Visitanos en nuestras redes sociales
                                          div(style='text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;line-height:135%;')
                                            ul(style='list-style: none;padding:0px;margin:0px;xt-decoration:none;')
                                              li(style='display: inline;')
                                                a(href='http://facebook.com/ideaspleisi')
                                                  img(style='display:inline;padding:5px;', src='http://www.pleisi.com/images/footer/facebook.svg', width='50')
                                              li(style='display: inline;')
                                                a(href='http://twitter.com/ideaspleisi')
                                                  img(style='display:inline;padding:5px;', src='http://www.pleisi.com/images/footer/twitter.svg', width='50')
                                              li(style='display: inline;')
                                                a(href='http://pinterest.com/ideaspleisi')
                                                  img(style='display:inline;padding:5px;', src='http://www.pleisi.com/images/footer/instagram.svg', width='50')
                                              li(style='display: inline;')
                                                a(href='http://instagram.com/ideaspleisi',style='text-decoration:none')
                                                  img(style='display:inline;padding:5px;', src='http://www.pleisi.com/images/footer/pinterest.svg', width='50')


              tr
                td(align='center', valign='top')
                  // CENTERING TABLE //
                  table(border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td(align='center', valign='top')
                        // FLEXIBLE CONTAINER //
                        table.flexibleContainer(border='0', cellpadding='0', cellspacing='0', width='600')
                          tr
                            td.flexibleContainerCell(align='center', valign='top', width='600')
                              table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                tr
                                  td(align='center', valign='top')
                                    // CONTENT TABLE //
                                    table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                      tr
                                        td.textContent(valign='top')
                                          p(style='color:#041237; text-align:center; font-size:12px;')

                                            |  Si tienes alguna duda escríbenos a <a href="mailto:info@pleisi.com">info@pleisi.com</a> <br>
                                            |  Carrera 7A # 123 - 24 OF 504 <br>
                                            |  Telefono: (+57) 1 2149647 <br>
                                            |  Cel: (+57) 313-4552140 <br>
                                            |  Bogotá, Colombia
