@import '_includes/_vars';
@import '_includes/_mixins';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
html,
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica;
    background-color: $bg;
    height: 100%;
}
.navbar{
  height: 70px;
  background-color: $dark-blue;
}
.navbar-header {
    .logo {
      height: 45px;
      float: left;
      padding-left: 15px;
    }
}
form {
  padding: 15px;
  display: block;
  .form-group{
    .etiqueta{
      font-weight: normal;
      display: block;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .campo {
      padding: 6px 12px;
    }
  }
  .form-footer{
    .btn {
      float: right;
      border-radius: .3em;
      border-style: solid;
      border-width: 1px;
      color: $white;
      border-color: $white;
      display: inline-block;
      margin-bottom: .5em;
      padding: .35em .75em;
      text-decoration: none;
      background-color: $green;
      font-size: .85em;
      margin: .25em;
      &:hover {
          background-color: darken($green,10%);
      }
    }
  }
}

.titulos {
  font-family: 'Pacifico';
  margin-bottom: 15px;
}

header,
.download {
    background: $light-blue;
}

a {
    text-decoration: none;
}

.btn-background {
    margin: 10px 0;
    background-color: $pink;
    color: $white;
    padding: .5em;
    border-radius: .3em;
    border-color: $pink;
    &:hover {
        background-color: #f66e88;
        color: $white;
        border-color: #f66e88;
    }
}

header,
footer {
    text-align: center;
}

.buttons {
    margin: .85em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 0;
}

footer {
    background-color: $dark-blue;
    width: 100%;
    padding: 2em;
    position: relative;
    clear: both;
    margin-top: -4em;
    padding-top:20px;
}

.icon {
    width: .85em;
    height: .85em;
    display: inline-block;
}

.icon-heart {
    fill: #EC407A;
}

.wrap {
    max-width: 980px;
    margin: 0 25px;
}

section {
    padding: 2em 1.5em 0;
}

section:last-child {
    padding-bottom: 3em;
    margin-bottom: 15px;
}


blockquote {
    margin: 1rem 0;
    padding-left: 1.5rem;
    border-left: 5px solid $pink;
}

b {
    color: #24334a;
}

.section-title {
    font-weight: 700;
    color: $pink;
}

p {
    font-weight: 300;
    color: #37474F;
}

p a,
footer a,
.highlight-code,
.gulp-task {
    color: #26C6DA;
    transition: color .2s;
}

.gulp-default {
    color: $pink;
}

p a:hover,
footer a:hover {
    color: #80DEEA;
    transition: color .2s;
}

code,
.tech {
    border-radius: .3em;
    border: 1px solid #E3EDF3;
    padding: .5em;
    background: $white;
    white-space: nowrap;
    font-family: monospace;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #37474F;
}

.code-block,
.code-block-small {
    margin: 1.5em 0;
}

.gulp-task {
    border-radius: .3em;
    border: 1px solid #E3EDF3;
    background: $white;
    white-space: nowrap;
    font-family: monospace;
    padding: .3em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 2em 0;
}


@include bp-mobile {
    header h1 {
        font-size: 2.55em;
    }
    .code-block code {
        display: block;
    }
}

@media(max-width:843px) {
    .btn-download {
        margin-bottom: 1.5em;
    }
}

.red {
  color: red;
}
