main.row
  section.getting-started.col-md-6.col-sm-12.col-xs-12
    .wrap
      h1.titulos ¿Quieres estar más cerca de nosotros?
      h3 Suscribete
      form(name='suscribete', novalidate)
        .form-group
          label.etiqueta(for='nombre') Nombre
            span.red *
            | :
          input.campo.form-control(type='text',id='nombre',name='nombre',placeholder='Ingrese su nombre')
        .form-group
          label.etiqueta(for='correo') Correo Electrónico
            span.red *
            | :
          input.campo.form-control(type='email',id='correo',name='correo',placeholder='Ingrese su correo electrónico')
        .form-footer
          button.btn(id='btn-enviar',type='button') Enviar
footer.navbar-fixed-bottom
  .container
