
nav.navbar.navbar-default.navbar-static-top.navbar-inverse
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      a.navbar-brand(href='#')
        img(src='http://www.pleisi.com/images/logo.svg').logo
    // /.navbar-collaps
