doctype html
head
	title Dixon Garcia | testFrontEnd
	meta(charset='utf-8')
	meta(name='author', content='Dixon Garcia')
	meta(name='description', content='Prueba FrontEnd Developer para Abako')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	base(href='./assets/')
	link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
	link(href='css/style.css', rel='stylesheet', type='text/css')
